<!-- Copyright -->
<div class="footer-copyright py-3">
    <div class="container">
        <div class="credit">
            <span>Created with <i class="fa fa-heart"></i> By &nbsp;</span> <a class="float-end" href="https://www.linkedin.com/in/grayaahammed/" target="_blank"> Grayaa Hammed</a>
        </div>
        <span>© 2023 Copyright:</span>
    </div>
</div>
<!-- Copyright -->