<div id="movie-modal">
    <div class="modal fade" id="popup-movie" tabindex="-1" role="dialog" aria-labelledby="popup-movie" aria-hidden="true">
        <div class="modal-dialog" role="document">
        </div>
    </div>
</div>