<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}We Movies{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}">

    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
{% include 'includes/nav-menu.html.twig' %}
<div class="main-content">
    {% block body %}
    {% endblock %}
</div>
{% include 'includes/footer.html.twig' %}
{% block script %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
